.cover {
    height: 400px;
    background-color: #eee;
    position: relative;

}

.cover .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.617); */
}

.cover .overlay h1 {
    margin-top: 160px;
    font-size: 54px;
    color: black;
    font-size: 46px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.cover .overlay p {
    font-size: 32px;
    color: black;
    font-size: 34px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}